extends ../../layouts/dashboard.pug

block content

    div.container

        h2 List of Users

        table.table
            thead.thead-dark
                tr
                    th Username
                    th Address
                    th Phone Number
                    th Email
                    th Creation Date
                    th
                
            each user in users
                tr
                    td= user.username
                    td= user.address
                    td= user.phone
                    td= user.email
                    td= user.date
                    td
                        a.btn.btn-sm.btn-danger(href=`/users/delete/${user.id}`) Delete User