extends ../layout

block content 
    a(href="/products")
        button.btn.btn-info List  
    h2 Create new product
    form(action='/products/create', method='POST', class="newProduct" enctype="multipart/form-data")
        label Title
        input(type="text", name='title').form-control

        label Description
        textarea(name="description", cols="30", rows="4").form-control

        label Price
        input(type="text", name='price').form-control

        label Discount
        input(type="text", name='discount').form-control

        label Brand
        select(name='brand').custom-select
            option(value='') Please Select
            each item in brands
                option(value=item.id)=item.name

        label Category
        select(name='category').custom-select
            option(value='') Please Select
            each item in categories
                option(value=item.id)=item.name

        .custom-file.my-2
            //- AQUI TENGO LO DE LAS IMAGENES
            input(type="file" id="customFile" name="image").form-control
            //- label(class="custom-file-label" for="customFile") Upload images

        label Sizes
        .sizesWrapper
            each item in sizes
                .sizeBox.container
                    input(type="checkbox" name=item.number onclick=`handleCheckboxClick(event)`).form-check-input
                    label(for=item.number)=item.number
                    input(type="number" id=item.number disabled placeholder="Quantity").form-control.quantity

        input(type="hidden", name="sizes", id="arrSizeQuantity")

        input(type="submit" value="Create" class="button" onclick="handleCreate(event)").btn-info.btn.my-2

    script.

        let arrSizeQuantity = new Array();
        
        function initializeSizeForm(){
            let checkboxs =  document.getElementsByClassName('form-check-input');
            for(item of checkboxs){
                item.checked = false;
            }
            let quantityInputs = document.getElementsByClassName('quantity')
            for(item of quantityInputs){
                item.disabled = true;
                item.value = '';
            }
        }

        function handleCheckboxClick(event) {
            let inputQuantity = document.getElementById(event.target.name);

            if(event.target.checked){
                inputQuantity.disabled = false;

                let sizeQuantity = {};

                sizeQuantity.size = parseInt(inputQuantity.id);

                inputQuantity.addEventListener('input', () => {
                    sizeQuantity.quantity = parseInt(inputQuantity.value);
                });

                arrSizeQuantity.push(sizeQuantity);
            }else {
                inputQuantity.disabled = true;
                inputQuantity.value = inputQuantity.placeholder;    
            }
        }

        //- Paso el array al value del input tipo hidden al crear el prod.
        function handleCreate(event){
            document.getElementById('arrSizeQuantity').value = JSON.stringify(arrSizeQuantity);
        }

        //- Reseteo los checkbox al entrar:
        initializeSizeForm();