extends ../../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Products';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'

block content
  .container-fluid.my-2
    include ../includes/page-header.pug
    
    if (locals.user)
      a(href="/products/new").btn.btn-sm.btn-primary.mb-2.float-right Add new
        //- span.material-icons add 

    .table-responsive
      table#dataTable.table.table-bordered.my-2(width='100%', cellspacing='0')
        thead.thead-dark
          tr
            th SKU
            th Image
            th Title
            th Brand
            th Category
            th Price
            th Status
            th 
        tbody.table-dark
          each product in products
            tr
              td= product.sku 
              td
                img(src=`${product.image_1}` height='75' width='75')
              td= product.title 
              td= product.brand_name
              td
                each item in product.categories
                  li= item
              td= product.price
              td= product.product_status
              td
                a(onclick=`handleEditClick(${product.sku})`)
                  span.material-icons edit

    script.
        $(document).ready(function() {
            $('#dataTable thead tr').clone(true).appendTo( '#dataTable thead' );
            $('#dataTable thead tr:eq(1) th').each( function (i) {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Search '+ title +'" />' );
 
                $( 'input', this ).on( 'keyup change', function () {
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                    }
                });
            });
            var table = $('#dataTable').DataTable( {
                orderCellsTop: true,
                fixedHeader: true,
                paging: false
            });
        });

      function handleEditClick(sku) {
        window.location.href = `/products/edit/${sku}`
      };