extends ../../layouts/dashboard.pug

block config
    - var bodyClass = 'sb-nav-fixed'
    - var pageTitle = 'Products';
    - var index = true;
    - var sidenavStyle = 'sb-sidenav-dark'

block content
  .container-fluid.my-2
    include ../includes/page-header.pug
    a(href="/products/new")
      span.material-icons add 
    .table-responsive
      table#dataTable.table.table-bordered.my-2(width='100%', cellspacing='0')
        thead.thead-dark
          tr
            th SKU
            th Title
            th Description
            th Brand
            th Category
            th Price
            th 
        tbody.table-dark
          each product in products=products
            tr
              td= product.sku 
              td= product.title 
              td= product.description 
              td= product.brand_name
              td
                each item in product.categories
                  p= item
              td= product.price
              td
                a(onclick=`handleEditClick(${product.sku})`)
                  span.material-icons edit

    script.
        $(document).ready( function () {
            $('#dataTable').DataTable();
        } );
      function handleEditClick(sku) {
        window.location.href = `/products/edit/${sku}`
      }